/* Template style.css file */

:root {
  --normal: #fcfcfc;
  --hover: #f5f5f5;
  --click: #eaeaea;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

.body-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--click);
}

.dropdown-item {
  width: 10rem;
  height: 3rem;
  background-color: var(--normal);
  border-radius: 5px;
}
